  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="index.html">eo4 人力銀行</a>
        <div class="nav-collapse collapse pull-right">
          <ul class="nav">
            <li>
              <a href="#">登入</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>