<div class="well plain">
  <div class="form-inline">
  <label>
    找找能幫上忙的工作吧：
    <input type="text" placeholder="工作類型、所屬專案或標籤">
  </label>
  <a href="#" class="btn btn-primary">找工作</a>
  </div>
</div>
<div class="well plain clearfix">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">待認領</a></li>
    <li><a href="#">進行中</a></li>
  </ul>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>工作名稱</th>
        <th>所屬專案</th>
        <th>標籤</th>
        <th>發布日期</th>
        <th>預期交件</th>
      </tr>
    </thead>
    <tbody>
      <% (1..20).each do |i| %>
      <tr>
        <td class="a-center">
          <% if i < 5 %>
            <i class="icon-time urgency" title="急件"></i>
          <% end %>
        </td>
        <td><a href="#"><%= zh_lorem_words(rand(10)+10) %></a></td>
        <td><a href="#" title="點擊專案會列出此專案的所有工作"><%= zh_lorem_words(rand(8)+10) %></a></td>
        <td>
          <a href="#" class="label label-info" title="點擊 tag 會列出包含此 tag 的所有工作">程式</a>
          <a href="#" class="label label-info" title="點擊 tag 會列出包含此 tag 的所有工作">RoR</a>
        </td>
        <td><%= lorem_date("%Y/%m/%d", 2013..2013) %></td>
        <td><%= lorem_date("%Y/%m/%d", 2013..2013) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pagination pull-right">
    <ul>
      <li class="disabled"><a href="#">Prev</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">Next</a></li>
    </ul>
  </div>
</div>