<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>eo4 人力銀行</title>
<link href="stylesheets/styles.css" rel="stylesheet">
</head>
<body>
  <% if content_for? :header %>
    <%= yield :header %>
  <% else %>
    <%= render 'header' %>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
<script src="javascripts/jquery-2.0.3.min.js"></script>
<script src="javascripts/bootstrap-dropdown.js"></script>
<%= livereload_js %>
</body>
</html>