<div class="well plain clearfix">
  <ul>
    <li><a href="/index_before_login.html">未登入的首頁</a></li>
    <li><a href="/index_after_login.html">已登入的首頁</a></li>
    <li><a href="/related_job.html">我參與的工作</a></li>
    <li><a href="/contract_out.html">發包工作</a></li>
    <li><a href="/job_page_before_login.html">未登入看待接工作頁面</a></li>
    <li><a href="/job_page_after_login.html">已登入看待接工作頁面</a></li>
    <li><a href="/accepted_job_page_before_login.html">非工作相關人員看已被接手的工作頁面</a></li>
    <li><a href="/accepted_job_page_after_login.html">工作相關人員看已被接手的工作頁面</a></li>
    <li><a href="/settings.html">設定頁面</a></li>
  </ul>
</div>